/*Aspectos globales*/
* {
	font-family: 'Sofia', cursive;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: purple;
}

.container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	max-height: 1200px;
	margin: 0px auto;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/*Columnas*/
[class*="col-"] {
	min-height: 7px;
	padding: 12px;
	float: left;
}

.col-1 {
	width: 8.333333%;
}

.col-2 {
	width: 16.666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333333%;
}

.col-5 {
	width: 41.666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 66.666667%;
}

.col-8 {
	width: 75%;
}

.col-9 {
	width: 83.333333%;
}

.col-10 {
	width: 91.666667%;
}

.col-11 {
	width: 100%;
}

/*Cajas individuales*/
.caja1 {
	background-color: darkgray;
}

.caja2 {
	background-color: gray;
}

.caja3 {
	background-color: black;
}

.caja1, .caja2, .caja3 {
	height: 400px;
	border: 5px solid white;
}